{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block title %}{{ title }} | {{ site_title|default:_('Sagitario Store Admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}

{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        Sagitario Store - Panel de Administración
    </a>
</h1>
{% endblock %}

{% block welcome-msg %}
    {% trans 'Bienvenido,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block userlinks %}
        {% if user.is_active and user.is_staff %}
            <a href="{% url 'admin:index' %}">Dashboard</a> /
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}