{% load static %}
<div class="shipping-info">
    <h3>Información de envío</h3>
    <p>Realizamos envíos a todo el país. El tiempo de entrega estimado es de 3-5 días hábiles dependiendo de tu ubicación.</p>
    
    <div class="shipping-costs">
        <h4>Costos de envío:</h4>
        <ul class="costs-list">
            <li>
                <i class="fas fa-map-marker-alt"></i>
                <span class="city">La Paz:</span>
                <span class="cost">20 Bs</span>
            </li>
            <li>
                <i class="fas fa-map-marker-alt"></i>
                <span class="city">Cochabamba:</span>
                <span class="cost">25 Bs</span>
            </li>
            <li>
                <i class="fas fa-map-marker-alt"></i>
                <span class="city">Santa Cruz:</span>
                <span class="cost">30 Bs</span>
            </li>
            <li>
                <i class="fas fa-map-marker-alt"></i>
                <span class="city">Otras ciudades:</span>
                <span class="cost">40 Bs</span>
            </li>
        </ul>
    </div>
    
    <div class="free-shipping-info">
        <i class="fas fa-gift"></i>
        <p>¡Los pedidos superiores a 500 Bs tienen envío gratis a cualquier parte del país!</p>
    </div>
    
    <div class="delivery-options">
        <h4>Opciones de entrega:</h4>
        <div class="option">
            <i class="fas fa-home"></i>
            <div class="option-details">
                <h5>Entrega a domicilio</h5>
                <p>Tu pedido llegará directamente a la dirección que nos indiques.</p>
            </div>
        </div>
        <div class="option">
            <i class="fas fa-store"></i>
            <div class="option-details">
                <h5>Recogida en tienda</h5>
                <p>Puedes recoger tu pedido en nuestra tienda sin costo adicional.</p>
            </div>
        </div>
    </div>
    
    <div class="shipping-notice">
        <i class="fas fa-info-circle"></i>
        <p>Los tiempos de entrega pueden variar en temporada alta o por causas de fuerza mayor.</p>
    </div>
</div>